<?php

/*
 * @author	Zahirul Hasan
 * @copyright	Copyright (c) 2018 Zahirul Hasan (http://zbabu.com)
 * @license   See LICENSE.txt for license details.
 * =====================================================================
 */
?>

<h1 >Service Temporarily Unavailable</h1 >
<p >The application can"t retrieve cached config data. Please try again later.</p >
