<?php
/*
 * @author	Zahirul Hasan
 * @copyright	Copyright (c) 2018 Zahirul Hasan (http://zbabu.com)
 * @license   See LICENSE.txt for license details.
 * =====================================================================
 */
?>
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head >
    <title ><?= $this->pageTitle ?></title >
    <base href="<?= $this->getViewFileUrl() ?>" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="*" />
    <link rel="stylesheet" href="default/css/styles.css" type="text/css" />
    <link rel="icon" href="default/images/logo.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="default/images/logo.ico" type="image/x-icon" />
</head >
<body >
<main class="page-main" >
    <?php require_once $contentTemplate; ?>
</main >
</body >
</html >
